#root
{
    flex-grow: 1;
}

.hidden
{
    display: none;
}

.overlay
{
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.45);
}

.panel
{
    width: 420px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;

    background-color: rgb(18,20,45);

    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;

    border-top-color: rgb(229,194,78);
    border-bottom-color: rgb(229,194,78);
    border-left-color: rgb(229,194,78);
    border-right-color: rgb(229,194,78);

    align-items: center;
    flex-direction: column;
}

.title
{
    font-size: 34px;
    -unity-font-style: bold;

    color: rgb(255,220,90);

    margin-bottom: 18px;

    -unity-text-align: middle-center;
}

.divider
{
    width: 100%;
    height: 3px;

    background-color: rgb(229,194,78);

    margin-bottom: 25px;
}

Button
{
    width: 260px;
    height: 55px;

    margin-bottom: 15px;

    font-size: 22px;

    -unity-font-style: bold;
}

#resume-button
{
    background-color: rgb(42,93,214);
    color: white;
}


#restart-button
{
    background-color: rgb(52,142,80);
    color: white;
}


#menu-button
{
    background-color: rgb(205,163,55);
    color: rgb(35,35,35);
}