#root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 460px;
}

.title {
    font-size: 42px;
}

.subtitle {
    margin-bottom: 30px;
}

.upgrade-card {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    background-color: rgb(45, 48, 65);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-color: rgb(229, 194, 78);
    border-right-color: rgb(229, 194, 78);
    border-bottom-color: rgb(229, 194, 78);
    border-left-color: rgb(229, 194, 78);
    border-radius: 8px;
    flex-direction: column;
}

.upgrade-description {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    white-space: normal;
}

.upgrade-value {
    font-size: 16px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}

.upgrade-card Label {
    color: white;
}

.upgrade-name {
    font-size: 22px;
    -unity-font-style: bold;
    color: rgb(255, 223, 95);
    margin-bottom: 6px;
}

Label {
    color: rgb(255, 255, 255);
}
